@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/main.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-coffee.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-sepia.css');
@import url('https://github.com/nikdoof/base16-logseq/blob/main/css/base16-atlas.css');