@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/main.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-black.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white.css');